<a href="/"><< Back to burgers</a>
<h1><%= @burger.fetch("name")%> Burger</h1>
<hr>
<h2>Deets</h2>
<ul>
<li><strong>Description:</strong> <%= @burger.fetch("description")%></li>
<li><strong>Insipiration:</strong> <%= @burger.fetch("inspiration")%></li>
<li><strong>Drink Special:</strong> <% if @burger.fetch("drink_special") != ''%>
  <%= @burger.fetch("drink_special")%>
  <%else%>
  No Drink Special :(
  <%end%>
  </li>
<li><strong>Hours of Availability:</strong> <%= @burger.fetch("hours_of_availability")%></li>
<li><strong>Location:</strong><%= @burger.fetch("location")%></li>
<li><strong>Address:</strong> <%= @burger.fetch("address")%></li>
</ul>
<h2>Reviews</h2>
<% if @burger_reviews.any? %>
  <div class="row">
    <% @burger_reviews.each do |review| %>
      <%= render :partial => "layouts/review_card", :locals => {:review => review} %>
    <% end %>
  </div>
<% else %>
  <p>There are no reviews yet.</p>
<% end %>
<% if current_user && current_user.admin?%>
  <div class="row nav-admin">
    <h3>Burger Admin Panel</h3>
  <hr>
    <div class="col">
    <p><%= link_to "Update burger", edit_burger_path(@burger)%>
      <p><%= link_to "Delete burger", burger_path(@burger),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>
    </div>
  </div>
  <%end%>